<main>

  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2">
      
      <!-- Hearth Brownie -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/images/hearth-brownie.jpg"
          alt="Hearth Brownie"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Hearth Brownie
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Classic heart-shaped brownie.
            </p>
          </div>
          <p class="text-base text-tomato-500">$40</p>
        </div>
      </figure>

      <!-- Hearth Buzzy Brownie -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/images/hearth-buzzy-brownie.jpg"
          alt="Hearth Buzzy Brownie"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Hearth Buzzy Brownie
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              A heart-shaped brownie infused with dessert wine for a rich, romantic flavor.
            </p>
          </div>
          <p class="text-base text-tomato-500">$50</p>
        </div>
      </figure>

      <!-- Regular 9-Piece Brownie Set -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/images/9-piece-brownie.jpg"
          alt="9-Piece Brownie Set"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                9-Piece Brownie Set
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              A full set of 9 delicious Brownies perfect for sharing! 
            </p>
          </div>
          <p class="text-base text-tomato-500">$20</p>
        </div>
      </figure>

      <!-- 2-Piece Brownie Set -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="/images/2-piece-brownie.jpg"
          alt="2-Piece Brownie Set"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                2-Piece Brownie Set
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              A small, delightful 2-piece brownie set.
            </p>
          </div>
          <p class="text-base text-tomato-500">$5</p>
        </div>
      </figure>

    </div>
  </div>
</main>
